:root {
  --primary-color: green;
  --secondary-color: red;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
}

.hero img {
  width: 100%;
  height: auto;
  border-bottom: 5px solid var(--primary-color);
}

h1 {
  background-color: var(--primary-color);
  border-bottom: 15px solid var(--secondary-color);
  text-align: center;
  padding: 1rem;
  color: white;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.data-parent {
  display: grid;
  justify-content: center;
  background-color: #bbbbbb9f;
  margin-top: -0.3rem;
}

.data-parent h2 {
  text-align: center;
}

.data-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
  padding: 0rem 1rem;
}

.weather-parent {
  display: grid;
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: #bbbbbb9f;
  border-top: 2px solid rgba(167, 167, 151, 0.219);
}

.weather-parent h2 {
  text-align: center;
}

.weather-icon::after {
  content: url("../images/weather-icon.svg");
  display: block;
  width: 60px;
  margin: 10px auto 0;
}

.weather-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
  padding: 0rem 1rem;
}

label {
  min-width: 120px;
  text-align: right;
  padding-right: 10px;
}

span {
  text-align: left;
}

footer {
  background-color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
  color: white;
}
