@media screen and (min-width: 640px) {
  h1 {
    background-color: green;
    text-align: center;
    padding: 1rem;
    color: white;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .hero img {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 0;
  }

  .data-parent {
    position: absolute;
    top: 8rem;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 300px;
  }

  .weather-parent {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    top: 23rem;
    right: 1rem;
    max-width: 250px;
  }

  .data-parent h2 {
    background-color: var(--primary-color);
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 3rem;
    margin-left: -0.5rem;
    text-align: left;
    align-items: center;
  }

  .weather-parent h2 {
    background-color: var(--primary-color);
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 3rem;
    margin-left: -0.5rem;
    text-align: left;
    align-items: center;
  }

  .weather-icon::after {
    content: url("../images/weather-icon.svg");
    display: inline-block;
    width: 30px;
    margin-left: 15px;
  }
}
