/*----Color Schema----*/
:root {
  --primary-color: #3498db; /*Blue*/
  --secondary-color: #f5f5dc; /*Beige*/
  --Background-color: #2c3e50; /*Dark Grey*/
  --Text-color: #f4f4f4; /*Light Grey*/
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--Background-color);
  color: var(--Text-color);
  font-family: "Roboto", sans-serif; /*primary-font family*/
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
}

h1,
h2 {
  color: var(--secondary-color);
  font-family: "Lato", sans-serif; /*secondary-font family*/
  text-align: center;
}

h3 {
  color: var(--secondary-color);
  font-family: "Lato", sans-serif;
  text-align: center;
}

picture,
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  margin-top: 10px;
}

p,
figcaption {
  color: var(--Text-color);
  text-align: center;
}

#slogan {
  text-align: center;
}

/*----NAVIGATION MENU----*/
.navbar {
  background-color: #000;
  text-align: center;
  position: relative;
}

.navbar nav {
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-logo {
  height: 40px;
  margin-left: 20px;
}

nav a {
  color: #fff;
  padding: 20px 25px;
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--Text-color);
  color: #000;
}

/*----HAMBURGER MENU----*/
#hamburger {
  display: none;
  background-color: none;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  color: #fff;
}

#hamburger::before {
  content: "≡";
}

#hamburger.show::before {
  content: "X";
}

/*----FLEX IMAGE SECTION----*/
.border-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.border-section div {
  flex: 1 1 300px;
  max-width: 300px;
  border: 2px solid var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--Background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.border-section img {
  display: block;
  margin: 0 auto;
}

.border-section figcaption {
  text-align: center;
  margin-top: 10px;
}

.main-border {
  border: 2px solid var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--Background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-border img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 5px;
}

/*----FAQ SECTION----*/
.faqs .faq-item {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
}

.faqs .faq-question {
  cursor: pointer;
  background-color: #2c3e50;
  padding: 10px;
  border: 1px solid #ccc;
}

.faqs .faq-answer {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}

.faqs .faq-item.active .faq-answer {
  display: block;
}

/*----FLEX FAQ SECTION----*/
.faq-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.faq-item {
  flex: 1 1 calc(50% - 20%);
  max-width: calc(50% - 20%);
  padding: 10px;
}

/*----HOME BUTTON----*/
button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--Text-color);
  color: #000;
}

/*----CONTACTS SECTION----*/
.contact-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 20px;
  background-color: var(--primary-color);
}

#contact-us,
#social-media-links {
  flex: 1 1 45%;
}

.contacts {
  margin-top: 0;
}

#contact-us span,
#social-media-links span {
  display: block;
  margin-bottom: 10px;
}

/*----CONTACTS AND SOCIAL MEDIA ICONS----*/
#contact-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact-us span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#contact-us img {
  margin-right: 10px;
}

#social-media-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#social-media-links span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#social-media-links img {
  margin-right: 10px;
}

/*----FOOTER SECTION----*/
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  margin-top: 0;
}

#lastModified {
  text-align: center;
}
